{% extends 'base.html' %}

{% block body %}
    <div>
        <img src="{{movie.img}}" alt="{{movie.name}}"/>
    </div>
    <div>
        <h1>{{movie.name}}</h1>
    </div>
    <div>
        <h3>
            Title: {{movie.title}}
        </h3>
        <h3>
            Genre: {{movie.genre}}
        </h3>
        <h3>
            Year: {{movie.year}}
        </h3>
        <p>
            Collector: {{movie.user}}
        </p>
        <p>Props: </p>
        <ul>
        {% for movieprop in movie.movieprops.all %}
            <li>{{movieprop.name}}</li>
        {% empty %}
            <li>Movie has no props</li>
        {% endfor %}
        </ul>
    </div>

    <div>
        <a href="{% url 'movie_update' movie.pk %}">Update</a>
        <a href="{% url 'movie_delete' movie.pk %}">Delete</a>
    </div>
{% endblock %}